<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema CRM</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido al Sistema CRM</h1>
        
        <div class="menu-container">
            <div class="menu-item">
                <a th:href="@{/clientes}">Gestión de Clientes</a>
                <p>Administrar clientes</p>
            </div>
            
            <div class="menu-item">
                <a th:href="@{/empleados}">Gestión de Empleados</a>
                <p>Administrar empleados</p>
            </div>
            
            <div class="menu-item">
                <a th:href="@{/productos}">Gestión de Productos</a>
                <p>Administrar el catálogo de productos</p>
            </div>
            <div class="menu-item">
                <a th:href="@{/querys}">Consultas</a>
                <p>Realizar consultas a la base de datos</p>
            </div>
        </div>

        <footer class="footer">
            <span class="footer-title">Sistema CRM</span>
            <form th:action="@{/logout}" method="post" class="footer-logout">
                <button type="submit" class="logout-link">Cerrar Sesión</button>
            </form>
        </footer>
    </div>
</body>
</html>

<!--Punto de control-->
